/* CSS reset */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
    justify-content: center;
    display: flex;
    background-color: #c4f5ff;
    margin-bottom: 25px;
}

  div#wrapper {
    margin: 0 auto;
    max-width: 960px;
    box-shadow: 0 0 10px #777777;
  }

  img.resize {
    width: 8%;
  }

  img.resize2 {
    width: 20%;
    height: 30%;
  }

figure img{
  max-height: 180px;
}

figure {
  margin: 0;
  text-align: center;
}

figcaption {
  width: 180px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  position: relative;
  top: -20px;
  font-size: smaller;
}

  body {
      background-color: white;
      margin: 0 auto;
      width: auto;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
  }

#choose-list {
  padding: 8px 0 8px 12px;
  background-color: silver;
}

  #name-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  #name-date h2 {
    font-size: 1.5em;
  }

  time {
    font-size: 1.5em;
  }

  #bio-container {
    width: 100%;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  ul {
    margin-bottom: 0;
    padding-left: 15px;
  }

  footer {
    background-color: rgb(196, 245, 255);
  }
  footer p {
    text-align: center;
    color: #000;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
  }

  #jeremyBio {
    display: flex;
    margin-bottom: 25px;
  }

#tech {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

#excited-about {
  background-color: silver;
  margin-bottom: 25px;
  margin-top: 20px;
  padding: .75rem;
}

#excited-about h4 {
  margin-bottom: 10px;
}