  
/* CSS reset */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* --- BODY --- */
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: black;
    background-color: white;
    font-size: 16px;
  }

  #welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #333;
    background-image: linear-gradient(62deg, #777 0%, white 100%);
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  .projects-section {
    text-align: center;
    padding: 5rem 2rem;
    background: whitesmoke;
  }

  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid black;
  }

  /* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: #999;
}

.contact-section-header > h2 {
  font-size: 6rem;
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

a {
  text-decoration: none;
  color: rgb(34, 34, 34);
}

  /* --- WRAPPER --- */
div#wrapper {
    margin: 0 auto;
  }

  .loadBearingWall {
    clear: both;
  }

  /* --- NAVIGATION --- */
/* phone nav here*/
@media only screen and (max-width: 600px) {
  nav {
    background-color: #555;
    padding: 0.5rem 2%;
  }

  nav ul.mynav {
    list-style-type: none;
    padding: 0;
  }

  nav ul.mynav li a {
    padding: 0.2rem 1rem;
    margin-bottom: 0.5rem;
    background-color: #555;
    font-weight: 600;
    text-decoration: none;
    display: block;
    border: solid 1px #000;
    border-radius: 0.5rem;
  }

  nav ul.mynav li a:hover {
    background-color: #ffe9d6;
    color: #000;
  }

  nav ul.mynav li.active a {
    background-color: #66a5b3;
    color: #ffe9d6;
  }
} /*end phone*/

/* Desktop nav here */
@media only screen and (min-width: 601px) {
  nav {
    background-color: #c4f5ff;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
  }
  nav ul.mynav {
    display: flex;
    margin-right: 2rem;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  nav ul.mynav li a {
    display: block;
    padding: 2rem;
    color: black;
    text-decoration: none;
    height: 100%;
  }

  nav ul.mynav li a:hover {
    background-color: #b7d0ee;
    color: #000;
  }
  nav ul.mynav li.active a {
    background-color: #66a5b3;
  }
}

/* --- MAIN --- */
main {
  padding: 0.5rem 2%;
  background-color: #fff;
}
main h1 {
  font-size: 2rem;
  color: #000;
  border-bottom: 1px solid #555;
  margin-bottom: 0.4rem;
}

main h2 {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 0.2rem;
}

main p {
  padding-bottom: 0.8rem;
  line-height: 150%;
}

main a {
  color: #b2957a;
}

main a:hover {
  color: #66a5b3;
}

figure img {
  width: 100%;
  height: 100%;
}

figcaption {
  color: black;
}

/* --- OTHER --- */
.keepOpen {
  clear: both;
}

  /* --- FOOTER --- */
  footer p {
    text-align: center;
    color: #000;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
  }