/* CSS reset */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.is-active {
  visibility: hidden;
}

header, footer {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #777 0%, #333 100%);
  color: gold;
}

.main img{
  float: right;
  padding: 10rem 3rem 0 0;
}

.navList {
  list-style-type: none;
}

#loadWall {
  clear: both;
}

.box {
  justify-content: center;
  display: flex;
  padding: 8px;
  color: gold;
}

.background {
  background-color: black;
  background-image: url("../Images/Star_Wars_Logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

ul {
  margin: 0;
  padding: 0 0 5rem 5rem;
}

li {
  color: gold;
  padding-bottom: 8px;
}

body a:link {
  text-decoration: none;
}