/* CSS reset */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.is-active {
  visibility: hidden;
}

header, footer {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #777 0%, #333 100%);
  color: white;
}

.main img{
  float: right;
}

.navList {
  list-style-type: none;
}

#loadWall {
  clear: both;
}

.main {
  margin: 3rem;
}

.box {
  justify-content: center;
  display: flex;
  padding: 8px;
}