/* CSS reset */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.load {}

.pokemonGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button3 {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #2b6e96;
  text-align: center;
  transition: all 0.2s;
}

.button3:hover {
  background-color: #4095c6;
}

.scene {
  width: 200px;
  height: 260px;
  border: 1px solid #CCC;
  margin: 10px;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1000ms;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card__face--front {
  background: lightblue;
}

.card__face--back {
  background: rgb(37, 178, 224);
  color: white;
  transform: rotateY(180deg);
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.pokeHero {
  width: 90%;
  height: 90%;
}

.heroPokeName {
  text-align: center;
  text-transform: capitalize;
}

.lableTitle {
  text-align: center;
  font-weight: bold;
  margin-bottom: .8rem;
}

.descriptionTitle {
  text-align: center;
  font-weight: bold;
  margin-bottom: .8rem;
}

.moveText {
  text-transform: capitalize;
}