/* CSS reset */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.load {
}

.pokemonGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button3 {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #2b6e96;
  text-align: center;
  transition: all 0.2s;
}

.button3:hover {
  background-color: #4095c6;
}
